@charset "UTF-8";


.Tabs {
    .tabs-container {
        padding: 30px;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .crumbs {
        margin: 10px 0;
    }
    .handle-row {
        margin-top: 30px;
    }
   
}