@charset "UTF-8";
.Charts {
  .chart-container {
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .plugins-tips {
    padding: 20px 10px;
    margin-bottom: 20px;
    background: #eef1f6;
  }
}
