@charset "UTF-8";

.Tags {
  position: relative;
  height: 30px;
  background: #fff;
  padding-right: 120px;
  box-shadow: 0 5px 10px #ddd;
  ul {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .tag {
    &-active {
      background: #409eff;
      a,
      i {
        color: #fff;
      }
    }
  }

  .tag-wrap {
    margin: 3px 5px 2px 3px;
  }

  .tags-close-box {
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box;
    padding-top: 1px;
    text-align: center;
    width: 110px;
    height: 30px;
    background: #fff;
    box-shadow: -3px 0 15px 3px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
}
